body {
    background-color: rgb(255, 255, 255);
}

/*---thumbnails size -----------------*/
.thumclass {
    border: 0px;
    width: 100px;
    height: 100px;
}

/*------------------*/
.myrow {
    width: 100%;
    height: 100%;
    display: flex;

}

/* Clear floats after the columns */
.myrow:after {
    content: "";
    display: table;
    clear: both;
}

.demoVideo {
    position: fixed;
    z-index: 20;
    background-color: transparent;
    /*min-width: 75%;
    min-height: 75%;
    margin-left: 10%;
    top: 10%;*/
    border: 1px white solid;
    }

/* these are the three columns */
.folium-map {
    float: left;
    height: 100%;
    width: 55%;
    display: inline-block;
    margin: 0;
    font-size: "1rem";
}

.pswp-right--gallery {
    float: left;
    overflow-y: auto;
    height: 100%;
    width: 40%;
    overflow-x: hidden;
    display: inline-block;
    margin: 0;
}

.control-panel {
    overflow: hidden;
    height: 100%;
    width: 5%;
    overflow-x: hidden;
    display: inline-block;
    margin: 0px;
    min-width: 7em;
}

/* make a vertical slider */
.vslider {
    writing-mode: vertical-lr;
    direction: rtl;
    width: 15px;
    height: 40%;
    padding: 5px 5px;
}

/* define the text size*/
.text {
    font-size: "3rem";
}

/* 
.center {
    border: 5px solid;
    margin: auto;
    width: 100%;
    padding: 10px;
}
*/
.center {
    width:100%;
    text-align:center;
    padding: 10px;
   }

.center > div {
width: 100%;  
display: inline-block;
vertical-align: top;   
/*border:1px solid red;*/
text-align:center;
margin:0%;    
padding:0px;
}

/*Gestion light/dark*/
.mode {
    float: right;
}

.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}



.dark {
    background-color: #222;
    color: #e6e6e6;

}

/*
// first solution from 
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution,
.leaflet-control-layers-toggle {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
*/


.dark-filter {
    filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

.leaflet-tile-container {
    filter :none;
}

.leaflet-tile {
    filter :none;
}
/*
// second solution from https://gist.github.com/BrendonKoz/b1df234fe3ee388b402cd8e98f7eedbd
:root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

@media (prefers-color-scheme: dark) {
    .map-tiles {
        filter:var(--map-tiles-filter, none);
	}
}
*/


/*---------------------*/